<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header><app-header></app-header></header>
<body>
    <h1>Thank you for purchasing!</h1> <br>
    <h3>Order Number: #{{orderNumber}}</h3> <br>
    <div>
        <p>Name: {{formData?.firstName}} {{formData?.lastName}}</p> 
        <p>Email: {{formData?.email}}</p>
        <p>Phone Number: {{formData?.phone}}</p>
        <p>Address: {{formData?.address}}</p>
        <p>Products:</p>
        <ul *ngIf="formData?.products?.length > 0; else noProducts">
            <li *ngFor="let item of formData.products">
                 {{ item.product.name }} <br>
                Price: ${{ item.product.price }} <br>
                Quantity: {{ item.quantity }}
            </li>
        </ul>

        <ng-template #noProducts>
        <p>No products found.</p>
        </ng-template>

    </div>
</body>
<app-footer></app-footer>
</html>
